@font-face {
    font-family: 'Sen';
    src: url(../assets/fonts/Sen-VariableFont_wght.ttf);
}

body {
    margin: 0;
    background-color: black;
}

.header {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 30%, rgba(24, 24, 35, 1) 30%);
    padding: 0 72px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-wrapper__logo {
    display: flex;
}

.header-wrapper__links {
    display: flex;
    margin: 0;
}

.links__item {
    text-decoration: none;
    color: #ffff;
    font-family: Sen;
    line-height: 150%;
    padding: 32px 24px;
    display: flex;
}

.links__item--purple {
    background-color: #5221E6;
}

li::marker {
    content: '';
}

.im-section {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 30%, rgba(24, 24, 35, 1) 30%);
    display: flex;
}

.im-section__Robin-photo {
    margin: 78px 0 84px 0;
    width: 750px;
    height: 650px;
    background-repeat: round;
    background-image: url('../assets/images/im-section/c-8J0doMMkg.jpg');

}

.im-section__text {
    position: absolute;
    padding: 219px 0 0 35%;
}

.text__title {
    width: 738px;
    margin: 0;
    color: #ffff;
    font-family: Sen;
    font-size: 78px;
}

.text__title--gray {
    margin-top: 32px;
    color: rgba(255, 255, 255, 0.50);

}

.text__paragraph {
    margin: 0;
    padding: 32px 72px 0 0;
    color: #ffff;
    font-family: Sen;
    font-size: 28px;
    line-height: 150%;
}