@font-face {
    font-family: 'Sen';
    src: url(../assets/fonts/Sen-VariableFont_wght.ttf);
}

body {
    margin: 0;
    background-color: black;
    font-family: Sen, sans-serif;
}

.header {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 30%, rgba(24, 24, 35, 1) 30%);
    padding: 0 3.85%;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-wrapper__logo {
    display: flex;
}

.header-wrapper__links {
    display: flex;
    margin: 0;
}

.links__item {
    text-decoration: none;
    color: #fff;
    line-height: 150%;
    padding: 32px 24px;
    display: flex;
}

.links__item--purple {
    background-color: #5221E6;
}

.header-wrapper__links li::marker {
    content: '';
}

.im-section {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 30%, rgba(24, 24, 35, 1) 30%);
    display: flex;
}

.im-section__Robin-photo {
    margin: 78px 0 84px 3.85%;
    width: 600px;
    height: 650px;
    background-repeat: round;
    background-image: url('../assets/images/im-section/c-8J0doMMkg.jpg');

}

.im-section__text {
    position: absolute;
    top: 219px;
    left: 35%;
}

.text__title {
    width: 738px;
    margin: 0;
    color: #fff;
    font-size: 78px;
}

.text__title--gray {
    margin-top: 32px;
    color: rgba(255, 255, 255, 0.50);

}

.text__paragraph {
    margin: 0;
    padding: 32px 3.85% 0 0;
    color: #fff;
    font-size: 28px;
    line-height: 150%;
}

.work-experience-section__title {
    margin: 0;
    padding: 120px 0 0 3.85%;
    color: #8491A0;
    font-size: 16px;
    line-height: 150%;
}

.work-experience-section__title--white {
    margin: 0;
    padding: 8px 0 0 3.85%;
    color: #fff;
    font-size: 55px;
    line-height: normal;
}

.work-experience-section__list {
    padding: 40px 3.85% 0 3.85%;
    display: flex;
    justify-content: space-between;
}

.item__score {
    margin: 0;
    color: #8491A0;
    font-size: 117px;
}

.item__job {
    margin: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}

.item__job-place--google {
    color: #3CC74E;
}

.item__job-place--facebook {
    color: #609BFF;
}

.item__job-place--dribble {
    color: #E95D90;
}

.item__story {
    margin: 0;
    padding-top: 22px;
    color: #8491A0;
    line-height: 150%;
}

.philosophy-section,
.instagram-section {
    margin-top: 144px;
    display: flex;
}

.philosophy-section__text,
.instagram-section__text,
.feedback-section__text {
    width: 50%;
    background-color: #FFF3E4;
}

.text__title-philosophy,
.text__title-instagram,
.dribbble-section__title,
.text__title-feedback {
    margin: 0;
    padding: 120px 0 24px 3.85%;
    color: #181823;
    font-size: 55px;
    font-weight: 700;

}

.philosophy-section__image--right,
.instagram-section__image--right {
    background-image: url('../assets/images/philosophy-section/469a981b38d970dbba4b3e085426d149.jpg');
    background-repeat: round;
    width: 50%;
    height: 586px;
}



.text__paragraph-philosophy,
.text__paragraph-instagram,
.text__paragraph-feedback {
    margin: 0;
    padding: 0 3.85% 134px 3.85%;
    color: #5B6876;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.text__link-philosophy,
.text__link-instagram,
.dribbble-section__link,
.text__link-feedback {
    color: #181823;
    margin-left: 3.85%;
    text-underline-offset: 10px;
    text-decoration: underline;
    text-decoration-color: #8491A0;
}

.skillset-section {
    padding: 120px 3.5% 0 3.5%;
}

.skillset-section-wrapper {
    display: flex;
    padding-bottom: 120px;
}

.wrapper__text {
    width: 30%;
}

.text__title-skillset {
    margin: 0;
    color: #fff;
    font-size: 55px;
    font-weight: 700;
}

.text__paragraph-skillset,
.dribbble-section__paragraph {
    margin: 0;
    padding-top: 24px;
    padding-right: 30%;
    color: #8491A0;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.skillset-section__list {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 72px;
}


.item-skillset__title {
    margin: 0;
    padding: 24px 0 12px 0;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}

.item-skillset__paragraph {
    margin: 0;
    color: #8491A0;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.skillset-section__list-images {
    display: flex;
    justify-content: space-between;
}

.list-images__item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    border: 1px solid #181823;
}

.my-projects-section {
    display: flex;
    padding: 120px 3.85% 153px 3.85%;
}

.my-projects-section__wrapper-left {
    width: 50%;
    padding-right: 1.5%;
    display: flex;
    flex-direction: column;
}

.wrapper-left__title {
    margin: 0;
    color: #8491A0;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}

.wrapper-left__paragraph {
    margin: 0;
    padding: 8px 0 80px 0;
    width: 64%;
    color: #fff;
    font-size: 55px;
    font-weight: 700;
}

.wrapper-left__text,
.wrapper-right__text {
    background-color: #181823;
    padding: 40px 32px;
}

.text__title-my-projects,
.text-block__paragraph {
    margin: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}

.text__paragraph-my-projects,
.text-block__paragraph--gray {
    margin: 0;
    padding-top: 13px;
    color: #8491A0;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.wrapper-left__image,
.wrapper-right__image,
.dribbble-section__image,
.wrapper__image {
    vertical-align: top;
}

.my-projects-section__wrapper-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.wrapper-right__link {
    width: 247px;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    padding: 32px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #5221E6;
}

.instagram-section__text {
    background-color: #FBE4FF;
}

.instagram-section__image--right {
    background-image: url('../assets/images/instagram-section/1284652.jpg');
}

.dribbble-section {
    padding: 120px 10%;
    display: flex;
    flex-direction: column;
}

.dribbble-section__link {
    margin-left: 0;
    padding-bottom: 100px;
    color: #fff;

}

.dribbble-section__title {
    padding: 0;
    color: #fff;
}

.dribbble-section__paragraph {
    width: 53%;
    padding-bottom: 40px;
}

.feedback-section {
    padding: 120px 3.5%;
    display: flex;
}

.feedback-section__text {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: transparent;
}

.text__title-feedback {
    color: #fff;
    padding-top: 0;
}

.text__paragraph-feedback {
    color: #8491A0;
    padding-bottom: 40px;
}

.text__link-feedback {
    color: #fff;
}

.feedback-section__right-side {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 120px;
}

.wrapper__text-block {
    border: 1px solid #5B6876;
    padding: 64px;
}

.text-block__paragraph {
    padding-bottom: 64px;
}

.text-block__paragraph--gray {
    padding: 0;
}